
  body {
    font-family: "Work Sans";
    background: #eee;
}
  form {
    margin: 20px auto;
    padding: 10px;
    height: 500px;
    width: 350px;
    color: #505355;
    font-family: 'Work Sans', sans-serif;
    border: 2px solid lightgray;
    border-radius: 15px;
    Box-shadow: 0px 0px 10px 0px rgba(204,204,204,1);
    display: flex;
    flex-direction: column;
  }
  
  input, textarea {
    width: 300px;
    margin: 15px;
    padding: 14px;
    border-radius: 15px;
    border-color: lightgrey;
  }
  
  input:focus {
    outline: none;
  }
  
  textarea:focus {
    outline: none;
  }
  
  info {
    color:  rgb(75, 71, 71);
    padding: 20px;
    font-size: 18px;
    margin-left: 0px;
  }
  
  label {
    color:#1ECEFD;
    font-weight: 700;
    margin-left: 20px;
  }
  
  #update {
    width: 310px;
    height: 27px;
    font-size: 16px;
    border-radius: 20px;
    background-color: #505355;
    color: white;
    margin: 20px auto;
    text-align: center;
    outline: none;
    font-family: "Work Sans";
  }
  #update:hover{
    background-color:#5BECD8;
  }
  #header{
    font-size: 125%;
    padding-left: 23px;
  }
  
  figure {
    height: 460px;
    width: 325px;
    margin: 0 auto;
    background: linear-gradient(180deg, #1ecefd 65%, #ffff 35%);
    color: #1ECEFD;
    font-family: 'Work Sans', sans-serif;
    border: 2px solid lightgray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    Box-shadow: 0px 0px 10px 0px rgba(204,204,204,1);

  }
  figcaption{
    padding: 10px;

  }
  
  #edit{
    width: 263px;
    height: 25px;
    font-size: 16px;
    border-radius: 20px;
    background-color:#505355;
    color: white;
    margin: 20px auto;
    outline: none;
    text-align: center;
    margin-top: 0;
    font-family: "Work Sans";

  }
  #edit:hover{
    background-color:#5BECD8;
  }
  a{
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  
  #name1 {
    font-size: 14px;
    color: #505355;
    font-weight: 700;
    margin-left: 20px;
    margin-bottom: 5px;
    padding-left: 14px;
    width: 288px;
    height: 0px;
  }
  
  #contact2 {
    font-size: 14px;
    color: #505355;
    font-weight: 700;
    margin-left: 20px;
    margin-bottom: 5px;
    padding-left: 14px;
    width: 288px;
    height: 0px;
  }
  
  #bio3 {
    font-size: 14px;
    color: #505355;
    margin-left: 20px;
    margin-top: 5px;
    width: 288px;
    height: 36px;
    font-weight: 700;
  }
img{
  border-radius: 50%;
  width: 326px;
  height: 290px;
}
#name{
  color: #505355;
  margin: 0;
  padding:3px;
}
#contact{
  color: #505355;
  padding-left: 7px;

}
#bio{
  color: #505355;
  margin: 0;
  padding: 7px;
}
p{
  word-wrap: break-word;
}